amqp
astroid
Babel
billiard
celery
colorama
Django
django-health-check
django-redis
flower
isort
kombu
lazy-object-proxy
mccabe
psycopg2
pylint
pytz
redis
six
sqlparse
tornado
typed-ast
vine
wrapt
django-extensions
djangorestframework
envs
flake8
ipython
jupyter
jupyter-client
jupyter-console
jupyter-core
django-admin-shell
django-material
