{% extends "pakguru_app/layout.html" %}

{% block content %}

<div class="jumbotron">

<div class="container">
        <h2>Total Posts: {{ posts|length }}</h2>

    <div class="row mb-1 mr-md-2 bg-primary text-white">
        <div class="col-1 themed-grid-col">Post Id</div>
        <div class="col-6 themed-grid-col">Title</div>
        <div class="col-5 themed-grid-col">Url</div>
      </div>
    
    
    {% for post in posts %}
    <div class="row mb-1">
        <div class="col-1 themed-grid-col">{{ post.post_id }}</div>
        <div class="col-6 themed-grid-col">{{ post.title }}</div>
        <div class="col-5 themed-grid-col">{{ post.name }} 
      
        </div>
      </div>

    {% endfor %}



</div>


</div>


{% endblock %}
