{% extends "pakguru_app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Pak.guru</h1>
    <p class="lead">Welcome to Pak.guru home page</p>
    <p><a href="{% url 'recentshows' %}" class="btn btn-primary btn-large">Watch Recently Published Shows &raquo;</a></p>
    <p><a href="{% url 'talkshows' %}" class="btn btn-primary btn-large">Watch Daily Talk Shows &raquo;</a></p>
    <p><a href="{% url 'dramaserials' %}" class="btn btn-primary btn-large">Watch Drams Serials &raquo;</a></p>
</div>

{% endblock %}
