{% extends "pakguru_app/layout.html" %}

{% block content %}
{% load staticfiles %}


<div class="container">


 {% if not posts_visible %} 

  <div class="row bg-primary text-white justify-content-md-center">
      <div class="col- themed-grid-col align-self-center">
      <h3>
      {{category}} for last 7 days - ({{ posts|length }} Videos)</h3></div>
  </div>

    {% for post in posts  %} 
      {% ifchanged %}
        <div class="row">
          <div class="col-12">
          <hr/>
              <h2>{{ post.show.channel }} </h2>
          </div>
        </div>
      {% endifchanged %}
      {% ifchanged %}
        <div class="row">
        <div class="col-1">
        </div>
            <div class="col-11">
                <h4><a href="{% url 'singletalkshow' channel=post.channel_slug show=post.show_slug show_id=post.show.show_id %}">{{ post.show.name}}</a></h4>
            </div>
        </div>
      {% endifchanged %}
    {% endfor %}
{% endif %} 

 {% if posts_visible %} 

      {% for post in posts %}

        {% ifchanged %}
        <p>
          <div class="row bg-primary text-white justify-content-md-center">
              <div class="col- themed-grid-col align-self-center">
              <h3>
                {{post.show}} ({{ posts|length }} Video{{ posts|length | pluralize }} from last 7 days)</h3></div>
          </div>
        </p>
        {% endifchanged %}


      <div class="row justify-content-md-center">
          <div class="col- themed-grid-col align-self-center" title="{{ post.url }}">
            <h3>
            {% if post.type == 'utube' %} 
            <img src="{% static 'frontend_app/yt_logo_rgb_light-small.png' %}" width="56">
            {% endif %} 
            {% if post.type == 'dailymotion' %} 
            <img src="{% static 'frontend_app/dm_logo_rgb_light-small.png' %}" width="56">
            {% endif %} 

            {{ post.show}} - {{ post.target_date }}</h3>
            {% if user.is_superuser or user.is_staff  %}
            <span><a target='_blank' href="{{ post.change_url }}">
              <img src="{% static 'frontend_app/edit-icon.png' %}" width="17">&nbsp;</a></span>
            {% endif %} 

            <span title="{{ post.post_id }}">{{ post.target_date }} - </span>
            <span>{{ post.label }}</span>

            <br/>

            {% if post.type == 'utube' %} 
            <iframe width="560" height="315" src="{{ post.url }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            {% endif %} 
            {% if post.type == 'dailymotion' %} 
            <iframe frameborder="0" width="560" height="315" src="{{ post.url }}" allowfullscreen allow="autoplay"></iframe>
            {% endif %} 
            <hr/>

          </div>

        </div>


      {% endfor %}
  {% endif %} 

</div>



{% endblock %}
<script type="text/javascript">
      function load_iframes() {
var vidDefer = document.getElementsByTagName('iframe');
for (var i=0; i<vidDefer.length; i++) {
if(vidDefer[i].getAttribute('data-src')) {
vidDefer[i].setAttribute('src',vidDefer[i].getAttribute('data-src'));
} } }
      document.addEventListener("DOMContentLoaded", function(event) {
         load_iframes();
      });
</script>

